<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <!-- <th>ID Pelanggan</th> -->
      <th>Nama Pelanggan</th>
      <th>Paket Laundry dan Jumlah Kiloan</th>
      <!-- <th>Jumlah Kiloan</th> -->
      <th>Total</th>
      <th>Tanggal Terima</th>
      <!-- <th>Status</th> -->
      <!-- <th>Catatan</th> -->
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < transaksiLaundry.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <!-- <td><%= transaksiLaundry[i]._id %></td> -->
      <td><%= transaksiLaundry[i]?.pelanggan?.name ?? "-" %></td>
      <td><%= transaksiLaundry[i]?.paket?.name %> - <%= transaksiLaundry[i]?.paket?.waktuKerja%> - Rp.<%= transaksiLaundry[i]?.paket?.harga %> * <%= transaksiLaundry[i].jumlahKiloan %> kg</td>
      <!-- <td>        kg</td> -->
      <td>Rp.<%= transaksiLaundry[i].jumlahKiloan * transaksiLaundry[i]?.paket?.harga %></td>
      <td><%= transaksiLaundry[i].tanggalTerima%></td>
      <!-- <td><%= transaksiLaundry[i].status %></td> -->
      <!-- <td><%= transaksiLaundry[i].catatan %></td> -->
      <td>
        <form action="/transaksi-laundry/hapus/<%= transaksiLaundry[i]._id %>?_method=DELETE" method="post">
          <a href="/transaksi-laundry/ubah/<%= transaksiLaundry[i]._id %> " class="btn btn-sm btn-warning mb-1 mt-1">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <button class="btn btn-sm btn-danger mb-1 mt-1">
            <i class="fas fa-trash"></i>
            Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
